#Ignore certain node files that can be recreated with 'npm install'
package-lock.json

#For config
./config/auth_stash.js
./config/auth_stash

#For mac
.DS_Store
./node_modules
./data/saved_masterList.js

#For windows
config/auth_stash.js
node_modules/
data/saved_masterList.js
